// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Mon Sep  9 12:47:26 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lattice radiant/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lattice radiant/ip/pmi/pmi_ice40up.vhd"
// file 2 "c:/users/spenc/onedrive/desktop/microp-lab1/fpga/radiant_project/lab1_jb/source/impl_1/verilog.sv"
// file 3 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lattice radiant/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lattice radiant/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lattice radiant/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lattice radiant/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lattice radiant/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lattice radiant/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lattice radiant/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lattice radiant/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lattice radiant/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lattice radiant/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lattice radiant/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lattice radiant/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lattice radiant/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lattice radiant/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lattice radiant/ip/pmi/pmi_add.v"
// file 37 "c:/lattice radiant/ip/pmi/pmi_addsub.v"
// file 38 "c:/lattice radiant/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lattice radiant/ip/pmi/pmi_counter.v"
// file 40 "c:/lattice radiant/ip/pmi/pmi_dsp.v"
// file 41 "c:/lattice radiant/ip/pmi/pmi_fifo.v"
// file 42 "c:/lattice radiant/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lattice radiant/ip/pmi/pmi_mac.v"
// file 44 "c:/lattice radiant/ip/pmi/pmi_mult.v"
// file 45 "c:/lattice radiant/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lattice radiant/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lattice radiant/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lattice radiant/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lattice radiant/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lattice radiant/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lattice radiant/ip/pmi/pmi_rom.v"
// file 52 "c:/lattice radiant/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input [3:0]s, input reset, output [2:0]led, output [6:0]seg);
    
    
    wire s_c_3, s_c_2, s_c_1, s_c_0, reset_c, led_c_2, led_c_1, 
        led_c_0, seg_c_6, seg_c_5, seg_c_4, seg_c_3, seg_c_2, seg_c_1, 
        seg_c_0, n117, GND_net;
    
    (* lineinfo="@2(16[21],16[46])" *) ONboard_led_control MOD1 (n117, s_c_3, 
            s_c_2, led_c_1, s_c_1, s_c_0, led_c_0, led_c_2);
    (* lineinfo="@2(11[14],11[19])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@2(10[20],10[21])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@2(10[20],10[21])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@2(10[20],10[21])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@2(10[20],10[21])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@2(13[21],13[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@2(12[21],12[24])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@2(12[21],12[24])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@2(12[21],12[24])" *) OB \led_pad[2]  (.I(led_c_2), .O(led[2]));
    (* lineinfo="@2(18[15],18[40])" *) seven_segment MOD2 (s_c_0, s_c_1, 
            s_c_3, s_c_2, seg_c_5, seg_c_1, seg_c_2, seg_c_3, seg_c_4, 
            seg_c_6, seg_c_0);
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A))", lineinfo="@2(11[14],11[19])" *) LUT4 i88_1_lut (.A(reset_c), 
            .Z(n117));
    defparam i88_1_lut.INIT = "0x5555";
    
endmodule

//
// Verilog Description of module ONboard_led_control
//

module ONboard_led_control (input n117, input s_c_3, input s_c_2, output led_c_1, 
            input s_c_1, input s_c_0, output led_c_0, output led_c_2);
    
    (* is_clock=1, lineinfo="@2(31[8],31[15])" *) wire int_osc;
    
    wire n163, n595, GND_net, n12, n11, n165;
    wire [24:0]n105;
    
    wire n161, n592, n14, n13, n25, n2, n3, n4, n5, n6, 
        n7, n8, n9, n10, n15, n16, n17, n18, n19, n20, n21, 
        n22, n23, n24, n159, n589, n173, n610, n171, n607, 
        n169, n604, n167, n601, n598, n157, n586, n155, n583, 
        n153, n580, n151, n577, n574, VCC_net;
    
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i1 (.D(n105[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n25));
    defparam counter_8__i1.REGSET = "RESET";
    defparam counter_8__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(n12), .D0(n163), .CI0(n163), .A1(GND_net), 
            .B1(GND_net), .C1(n11), .D1(n595), .CI1(n595), .CO0(n595), 
            .CO1(n165), .S0(n105[13]), .S1(n105[14]));
    defparam counter_8_add_4_15.INIT0 = "0xc33c";
    defparam counter_8_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(n14), .D0(n161), .CI0(n161), .A1(GND_net), 
            .B1(GND_net), .C1(n13), .D1(n592), .CI1(n592), .CO0(n592), 
            .CO1(n163), .S0(n105[11]), .S1(n105[12]));
    defparam counter_8_add_4_13.INIT0 = "0xc33c";
    defparam counter_8_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i24 (.D(n105[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n2));
    defparam counter_8__i24.REGSET = "RESET";
    defparam counter_8__i24.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))", lineinfo="@2(46[9],52[16])" *) LUT4 i99_2_lut (.A(s_c_3), 
            .B(s_c_2), .Z(led_c_1));
    defparam i99_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i23 (.D(n105[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n3));
    defparam counter_8__i23.REGSET = "RESET";
    defparam counter_8__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i22 (.D(n105[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n4));
    defparam counter_8__i22.REGSET = "RESET";
    defparam counter_8__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i21 (.D(n105[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n5));
    defparam counter_8__i21.REGSET = "RESET";
    defparam counter_8__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i20 (.D(n105[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n6));
    defparam counter_8__i20.REGSET = "RESET";
    defparam counter_8__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i19 (.D(n105[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n7));
    defparam counter_8__i19.REGSET = "RESET";
    defparam counter_8__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i18 (.D(n105[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n8));
    defparam counter_8__i18.REGSET = "RESET";
    defparam counter_8__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i17 (.D(n105[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n9));
    defparam counter_8__i17.REGSET = "RESET";
    defparam counter_8__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i16 (.D(n105[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n10));
    defparam counter_8__i16.REGSET = "RESET";
    defparam counter_8__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i15 (.D(n105[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n11));
    defparam counter_8__i15.REGSET = "RESET";
    defparam counter_8__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i14 (.D(n105[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n12));
    defparam counter_8__i14.REGSET = "RESET";
    defparam counter_8__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i13 (.D(n105[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n13));
    defparam counter_8__i13.REGSET = "RESET";
    defparam counter_8__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i12 (.D(n105[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n14));
    defparam counter_8__i12.REGSET = "RESET";
    defparam counter_8__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i11 (.D(n105[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n15));
    defparam counter_8__i11.REGSET = "RESET";
    defparam counter_8__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i10 (.D(n105[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n16));
    defparam counter_8__i10.REGSET = "RESET";
    defparam counter_8__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i9 (.D(n105[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n17));
    defparam counter_8__i9.REGSET = "RESET";
    defparam counter_8__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i8 (.D(n105[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n18));
    defparam counter_8__i8.REGSET = "RESET";
    defparam counter_8__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i7 (.D(n105[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n19));
    defparam counter_8__i7.REGSET = "RESET";
    defparam counter_8__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i6 (.D(n105[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n20));
    defparam counter_8__i6.REGSET = "RESET";
    defparam counter_8__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i5 (.D(n105[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n21));
    defparam counter_8__i5.REGSET = "RESET";
    defparam counter_8__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i4 (.D(n105[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n22));
    defparam counter_8__i4.REGSET = "RESET";
    defparam counter_8__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i3 (.D(n105[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n23));
    defparam counter_8__i3.REGSET = "RESET";
    defparam counter_8__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i2 (.D(n105[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(n24));
    defparam counter_8__i2.REGSET = "RESET";
    defparam counter_8__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(62[33],62[44])" *) FD1P3XZ counter_8__i25 (.D(n105[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(n117), .Q(led_c_2));
    defparam counter_8__i25.REGSET = "RESET";
    defparam counter_8__i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n16), .D0(n159), .CI0(n159), .A1(GND_net), 
            .B1(GND_net), .C1(n15), .D1(n589), .CI1(n589), .CO0(n589), 
            .CO1(n161), .S0(n105[9]), .S1(n105[10]));
    defparam counter_8_add_4_11.INIT0 = "0xc33c";
    defparam counter_8_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(37[9],43[16])" *) LUT4 s_c_1_I_0_2_lut (.A(s_c_1), 
            .B(s_c_0), .Z(led_c_0));
    defparam s_c_1_I_0_2_lut.INIT = "0x6666";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(n2), .D0(n173), .CI0(n173), .A1(GND_net), 
            .B1(GND_net), .C1(led_c_2), .D1(n610), .CI1(n610), .CO0(n610), 
            .S0(n105[23]), .S1(n105[24]));
    defparam counter_8_add_4_25.INIT0 = "0xc33c";
    defparam counter_8_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(n4), .D0(n171), .CI0(n171), .A1(GND_net), 
            .B1(GND_net), .C1(n3), .D1(n607), .CI1(n607), .CO0(n607), 
            .CO1(n173), .S0(n105[21]), .S1(n105[22]));
    defparam counter_8_add_4_23.INIT0 = "0xc33c";
    defparam counter_8_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(n6), .D0(n169), .CI0(n169), .A1(GND_net), 
            .B1(GND_net), .C1(n5), .D1(n604), .CI1(n604), .CO0(n604), 
            .CO1(n171), .S0(n105[19]), .S1(n105[20]));
    defparam counter_8_add_4_21.INIT0 = "0xc33c";
    defparam counter_8_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(n8), .D0(n167), .CI0(n167), .A1(GND_net), 
            .B1(GND_net), .C1(n7), .D1(n601), .CI1(n601), .CO0(n601), 
            .CO1(n169), .S0(n105[17]), .S1(n105[18]));
    defparam counter_8_add_4_19.INIT0 = "0xc33c";
    defparam counter_8_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(n10), .D0(n165), .CI0(n165), .A1(GND_net), 
            .B1(GND_net), .C1(n9), .D1(n598), .CI1(n598), .CO0(n598), 
            .CO1(n167), .S0(n105[15]), .S1(n105[16]));
    defparam counter_8_add_4_17.INIT0 = "0xc33c";
    defparam counter_8_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n18), .D0(n157), .CI0(n157), .A1(GND_net), 
            .B1(GND_net), .C1(n17), .D1(n586), .CI1(n586), .CO0(n586), 
            .CO1(n159), .S0(n105[7]), .S1(n105[8]));
    defparam counter_8_add_4_9.INIT0 = "0xc33c";
    defparam counter_8_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n20), .D0(n155), .CI0(n155), .A1(GND_net), 
            .B1(GND_net), .C1(n19), .D1(n583), .CI1(n583), .CO0(n583), 
            .CO1(n157), .S0(n105[5]), .S1(n105[6]));
    defparam counter_8_add_4_7.INIT0 = "0xc33c";
    defparam counter_8_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n22), .D0(n153), .CI0(n153), .A1(GND_net), 
            .B1(GND_net), .C1(n21), .D1(n580), .CI1(n580), .CO0(n580), 
            .CO1(n155), .S0(n105[3]), .S1(n105[4]));
    defparam counter_8_add_4_5.INIT0 = "0xc33c";
    defparam counter_8_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n24), .D0(n151), .CI0(n151), .A1(GND_net), 
            .B1(GND_net), .C1(n23), .D1(n577), .CI1(n577), .CO0(n577), 
            .CO1(n153), .S0(n105[1]), .S1(n105[2]));
    defparam counter_8_add_4_3.INIT0 = "0xc33c";
    defparam counter_8_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(62[33],62[44])" *) FA2 counter_8_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n25), .D1(n574), .CI1(n574), .CO0(n574), .CO1(n151), 
            .S1(n105[0]));
    defparam counter_8_add_4_1.INIT0 = "0xc33c";
    defparam counter_8_add_4_1.INIT1 = "0xc33c";
    VLO i2 (.Z(GND_net));
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=21, LSE_RCOL=46, LSE_LLINE=16, LSE_RLINE=16, lineinfo="@2(16[21],16[46])" *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), 
            .TRIM6(GND_net), .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), 
            .TRIM2(GND_net), .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module seven_segment
//

module seven_segment (input s_c_0, input s_c_1, input s_c_3, input s_c_2, 
            output seg_c_5, output seg_c_1, output seg_c_2, output seg_c_3, 
            output seg_c_4, output seg_c_6, output seg_c_0);
    
    
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))" *) LUT4 i265_4_lut (.A(s_c_0), 
            .B(s_c_1), .C(s_c_3), .D(s_c_2), .Z(seg_c_5));
    defparam i265_4_lut.INIT = "0x8962";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@2(81[3],100[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C (D)+!C !(D)))+!A (B+(C+!(D)))))", lineinfo="@2(81[3],100[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_c_0), 
            .B(s_c_1), .C(s_c_3), .D(s_c_2), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0x2182";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))", lineinfo="@2(81[3],100[10])" *) LUT4 seg_c_3_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@2(81[3],100[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_1), .D(s_c_2), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@2(81[3],100[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@2(81[3],100[10])" *) LUT4 s_c_3_I_0_4_lut (.A(s_c_1), 
            .B(s_c_0), .C(s_c_3), .D(s_c_2), .Z(seg_c_0));
    defparam s_c_3_I_0_4_lut.INIT = "0x1805";
    
endmodule
